@page "/users/{username}"

@using NinjaApp.Persistence.Dtos
@using System.Net.Http


<button class="btn btn-success" style="visibility: @(!visibleOnUpdate ? "visible" : "hidden")" @onclick=ToggleUpdate>
    <span class="oi oi-pencil"></span> Edit
</button>

@if (_user is null)
{
    <h1>Loading user details...</h1>
}
else
{
    <form id="updateUserForm" @onsubmit=UpdateUser>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First Name" @bind=_user.FirstName />
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name" @bind=_user.LastName />
        </div>
        <div class="form-group">
            <label for="birthDate">Birth Date</label>
            <input type="date" class="form-control" id="birthDate" placeholder="Birth Date" @bind=_user.BirthDate />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email" @bind=_user.Email />
        </div>
    </form>

    <div style="visibility: @(visibleOnUpdate ? "visible" : "hidden")">
        <button type="submit" class="btn btn-primary" form="updateUserForm">Save Changes</button>
        <button tpye="button" class="btn btn-dark" @onclick=ToggleUpdate>Cancel</button>
    </div>
}

@code
{
    private UserDetailDto _user;

    private bool visibleOnUpdate;

    [Parameter]
    public string UserName { get; set; }

    private readonly HttpClient _http;

    public UserDetail()
    {
        _http = new HttpClient();
    }

    protected override async Task OnInitializedAsync()
    {
        _user = await _http.GetJsonAsync<UserDetailDto>($"http://localhost:5000/api/users/{UserName}");
    }

    public void ToggleUpdate()
    {
        visibleOnUpdate = !visibleOnUpdate;
    }

    public async void UpdateUser()
    {
        await _http.PutJsonAsync($"http://localhost:5000/api/users/{UserName}", _user);
    }
}